<!DOCTYPE html>
<html>
  <head>
    <title>Risant Health Footer</title>
  </head>
  <body>
    <header></header>
    <main>
      <div>
        <p><img src="/img/icons/logo.svg" alt="Risant Health"></p>
      </div>
      <div>
        <p>Send feedback to <a href="#clinical-library">Clinical Library</a></p>
      </div>
      <div>
        <p><strong>Disclaimer:</strong> The information on this site is intended to be used for reference or educational purposes only. It is not intended to be a substitute for the reasonable exercise of independent clinical judgment by practitioners, considering each patients individual needs.</p>
      </div>
      <div>
        <p>© 2026 Risant Health, Inc</p>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
